@model IEnumerable<IdentityRole>
@using CoreDropDownList.Models
@using CoreDropDownList.Data
@*@using Microsoft.AspNetCore.Authorization*@


@{
    ViewData["Title"] = "ListRoles";
}

<div class="header">
        <h1 class="text-uppercase text-center" text-center" style="background-color:black;color:White; margin-top:200px;margin-left:25px;">All Roles</h1>
</div>
<div class="body-content" border="1" cellpadding="10" style="background-color:white; width:auto; margin-top:auto;overflow:auto; margin-bottom:10px; margin-left:25px;" >
 
    @if (Model.Any())
    {

            <a class="btn btn-primary" style=" width: auto;" asp-action="Create" asp-controller="AppRoles">
                Add a new role
            </a>

        @foreach (var role in Model)
        {
            <div calss="card mb-3">
                <div disabled class="card-header">
                    Role Id : @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title"> @role.Name</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-action="EditRole" controller="AppRoles" asp-route-roleId="@role.Id">
                        <i class="glyphicon glyphicon-pencil">Edit Role</i>
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" controller="AppRoles" asp-route-roleId="@role.Id">
                        <i class="glyphicon glyphicon-trash">Delete</i>
                    </a>
                </div>
            </div>
        }
    }

    else
    {
        <div class="card mb-3">

            <div class="card-header">
                No roles create yet !!!!
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    Use the below button  to create a role.
                </h5>
            </div>
            <a class="btn btn-primary" style=" width: auto;" asp-action="Create" asp-controller=" AppRoles">
                Create
            </a>


        </div>

    }
</div>

